@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: black;
}

/* headings + logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: orange;
}

#logo {
    float: left;
    font-size: 300%;
    padding-left: 15px;
}

/* Navigation bar */

#nav-bar {
    font-size: 110%;
    letter-spacing: 1px;
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: orange;
}

#nav-bar a:hover {
    border-bottom: 1px solid orange;
}

.current {
    border-bottom: 1px solid orange;
}

/* hero-image */

#hero-image {
    height: 770px;
    width: 100%;
    background: url(../images/hero-image3.jpeg) no-repeat center center;
}


