@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: black;
}

/* headings + logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: orange;
}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;

}

#logo {
    float: left;
    font-size: 325%;
    padding-left: 15px;
}

/* Navigation bar */

#nav-bar {
    font-size: 120%;
    letter-spacing: 1px;
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: orange;
}

#nav-bar a:hover {
    border-bottom: 1px solid orange;
}

.current {
    border-bottom: 1px solid orange;
}

/* hero-image */

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image3.jpeg) no-repeat center center;
}

/* Welcome Page Content */

#welcome-page {
    height: 1200px;
}

#Welcome {
    text-align: center;
    margin: 75px 0;
    font-size: 300%;
}

#welcome-text {
    padding-top: 0;
    width: 50%;
    float: center;
    margin: auto;
}

#in-memory {
    height: 400px;
}

#left-memory {
    
}

/* History Page Content */

#history-page {
    height: 3700px;
}

#History {
    text-align: center;
    margin: 75px 0;
    font-size: 300%;
}

#history-text {
    padding-top: 0;
    width: 50%;
    float: center;
    margin: auto;
}


/* Footer */

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
    background-color: black;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: orange;
}

/* Gallery */

#photos {
    clear: both;
    margin-top: 10px;
    line-height: 2rem;
    column-count: 3;
    column-gap: 10px;
    background-color: orange;
}

#photos > img {
    width: 100%;
}

#gallery-page {
    background-color: orange;
}

/* Contact Page */

input[type=text], select, textarea {
    font-family: Montserrat, sans-serif;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: orange;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: darkorange;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 1000px;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
  }