@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Headings + Paragraphs */
#page-title {
    text-align: center;
    margin: 75px 0;
    font-size: 350%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FEBE10;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Header + Nav Menu */
.hero-image {
    min-height: calc(100vh - 80px);
    width: 100%;
    background-image: url("../images/hero-image3.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
  }

  nav {
    background: #0d3562;
    height: 85px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
   }

   label.logo {
    color: #FEBE10;
    font-size: 375%;
    line-height: 80px;
    padding: 0 50px;
    text-transform: uppercase;
   }

   label.logo a {
    color: #FEBE10;
   }

   nav .menu {
    float: right;
    margin-right: 20px;
   }

   nav .menu li {
    display: inline-block;
    line-height: 80px;
    margin: 5px 10px;
   }

   nav .menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
   }

   nav .menu li a {
    color: white;
    padding: 7px 13px;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
   }

   nav .menu li a:hover {
    background: #192841;
    color: white;
   }

  .checkbtn {
    font-size: 30px;
    color: #FEBE10;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
   }

   #check {
    display: none;
   }

/* Home Page */
#welcome-page {
    height: 800px;
}

#welcome-text {
    padding-top: 0;
    width: 50%;
    margin: auto;
}

blockquote {
    display: block;
    position: relative;
    width: 50%;
    margin: 5rem auto;
    padding: .5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'Times', sans-serif;
    text-align: center;
    color:#100c08;
    margin-bottom: 200px;
}

blockquote::before {
    content: '\201c';
    top: 10px;
    left: -40px;
}

blockquote::after {
    content: '\201d';
    bottom: -30px;
    right: -40px;
}

blockquote::before, blockquote::after {
    font-size: 6rem;
    position: absolute;
}

blockquote cite {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #100c08;
    top: 120%;
}

/* Band History Page */
#history-page {
    display: block;
    margin-bottom: 150px;
}

#History {
    text-align: center;
    margin: 75px 0;
    font-size: 300%;
}

#history-text {
    padding-top: 0;
    width: 50%;
    margin: auto;
}

.band-history {
    text-align: start;
}

.band-history-video {
    text-align: start;
    margin-bottom: 30px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.band-heading {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

/* Gallery */
#gallery {
    line-height: 0;
    column-count:3;
    column-gap:10px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:10px;
    border-radius: 5px;
 }

#photos > img {
    width: 100%;
}

#photos img {
	animation: zoominoutsinglefeatured 5s forwards;
}

img:hover {
    transform: translateY(-0.8%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

/* Conatct Page */
#contact-info {
    padding-top: 0;
    width: 50%;
    margin: auto;
}

input[type=text], select, textarea {
    font-family: Montserrat, sans-serif;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #FEBE10;
    color: #100c08;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color:  orange;
    color: #100c08;
  }
  
  #contact-title{
    text-align: center;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-left: 25%;
    margin-right: 25%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    height: 750px;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
  }

  label {
    font-family: 'Oswald', sans-serif;
  }

  /* Thanks */
  #thanks {
    display: block;
    margin-bottom: 300px;
  }

  /* Footer */
footer {
    height: 50px;
}

.social-networks {
    text-align: center;
    background-color: #0d3562;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #FEBE10;
}

.social-networks li::after {
    color: #FEBE10;
}

.social-networks i:hover {
    opacity: 0.7;
}

/* Media Queries */
@media  screen and (max-width: 950px) {
    label.logo {
      font-size: 300%;
      padding-left: 50px;
    }
  
    nav .menu li a {
      font-size: 16px;
    }
   }
  
   @media  screen and (max-width: 850px) {
    label.logo {
      font-size: 300%;
      padding-left: 50px;
    }
  
    nav .menu li a {
      font-size: 16px;
    }
  
    .checkbtn {
      display: block; 
    }
  
    .menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0d3562;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      z-index: 2;
      }
  
      nav .menu li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
  
      nav .menu li a {
        font-size: 20px;
      }
  
      a.hover,a.active {
        background: #192841;
        color: white;
      }
  
      #check:checked ~ .menu {
        left: 0;
      }

      #gallery {
        column-count: 2;
    }  
   }

@media  screen and (max-width: 650px) {
      #gallery {
        column-count: 1;
       }

       #page-title {
        font-size: 300%;
       }
    }

@media  screen and (max-width: 450px) {
   #page-title {
    font-size: 300%;
   }
}
